.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
azure-pipelines.yml
.github/**
images/**
!images/jcasc_icon.png
.huskyrc.yml
.lintstagedrc.yml
.prettierrc.yml
.editorconfig
